@media (max-width: 360px) {
  .header {
    font-size: 12px;
  }
}
@media (min-width: 361px) {
  .header {
    font-size: 16px;
  }
}

.header {
  position: fixed;
  display: grid;
  place-items: center;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
}
.backdrop {
  position: absolute;
  inset: 0;
  height: 200%;
  z-index: 3;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.4);
  mask-image: linear-gradient(
    to bottom,
    black 0% 50%,
    transparent 50% 100%
  );
}
.navbar{ 
  position: relative; 
  margin: 20px auto 0px auto;
  padding: 10px;
  overflow: hidden;
  border: 2px solid black;
  border-radius: 50px;
}
.navlist{
  position: relative;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  z-index: 10;
}
.navitem {
  padding: 6px 10px;
  margin: 0px 3px;
  border-radius: calc(50px - 10px);
  transition: all ease-out 0.3s ;
}
.active {
  background: #3f3f46;
  color: #FBFCF8;
  transition: all ease-out 0.3s ;
}