.marqueeWrapper {
  padding: 1rem 0px;
  color: #E6E8E3;
  font-size: 1rem;
}

.marqueeText {
  overflow: clip;
}

.marqueeTextTrack {
  display: flex;
  padding-left: 2rem;
  gap: 2rem;
  /* 
    This makes our track the full width of the inner content. 
    Otherwise flexbox makes this the width of the parent,
    and to get our infinite scroll we will need to move this element by 50%
  */
  width: max-content; 
  
  animation: marqueeMoveText var(--speed) linear infinite var(--direction);
}

.marqueeText p {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  border: 1px solid #E6E8E3;
  border-radius: 999px;
  padding: 0.5rem 1rem;
  
}

@keyframes marqueeMoveText {
  to {
    transform: translateX(-50%);
  }
}