.marqueeContainer {
  --gap: 2rem;
  display: flex;
  flex: 0 0 auto;
  overflow: hidden;
  width: 100%;
}

.marqueeText {
  display: flex;
  flex: 0 0 auto;
  gap: var(--gap);
  padding-right: 1rem;
  padding-left: 1rem;
  
  font-family: 'Chillax';
  font-weight: 600;
}
 
